
@media only screen and (min-width: 768px) {
	.left-container-md{
		position: absolute;
	  z-index: 500;
	  padding-top: 8%;
	  padding-left: 1%;
	}
}

@media only screen and (max-width: 768px) {
	.left-container-xs{
		position: absolute;
	  z-index: 500;
	  padding-top: 30%;
	  padding-left: 1%;
	}
}